.sui-tip{
	display: none;
	position: fixed;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	opacity: 0;
	max-width: 200px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	padding: 10px 20px;
	font-size: 14px;
	line-height: 18px;
	border: none;
	color: #fff;
	border-radius: 5px;
	word-break: break-all;
	transform: translateX(-50%) translateY(-50%);
	animation: sui-tip-fx 2s ease-in-out;
}

.sui-tip-show{
	display: block;
}

@keyframes sui-tip-fx {
	0% { opacity:0; transform:translateX(-50%) translateY(-50%) scale(1.5); }
	10% { opacity:1; transform:translateX(-50%) translateY(-50%) scale(1); }
	90% { opacity:1; transform:translateX(-50%) translateY(-50%) scale(1); }
	100% { opacity:0; transform:translateX(-50%) translateY(-50%) scale(1); }
}

